.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.box {
    background-color: #f9f5ee;
    width: 35%;
    max-height: 75%;
    padding: 3rem;
    overflow: scroll;
    border-radius: 0.5rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.indent {
    padding-left: 1rem;
}

.itemList {
    background-color: #FFF;
    padding: 1.5rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.itemList li {
    margin-bottom: 1rem;
}

.line {
    border-bottom: 1px solid #EEF3F5;
    padding: 1rem 0;
}

.cartTitle {
    margin-bottom: 1rem;
}

.innerButton {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0 1rem;
    background-color: #CF112B;
}

.quantityRow {
    display: flex;
    justify-content: center;
}