.menuItems {
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: min-content;
    gap: 2rem 1rem; 
    overflow: scroll;
}

.menuItems img {
    width: 100%;
}