.menuItems {
    padding: 0 1rem;
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    gap: 1rem 1rem; 
    overflow: scroll;
}

.menuItems img {
    width: 100%;
}