header {
    background-color: #CF112B;
    height: 6rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
  
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    color: #FFF;
}